* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: #323232;
    min-height: 100vh;
}

.container-title {
    position: relative;
    width: 400px;
    margin: auto;
    z-index: 0;
}

.title-background {
    transform: translateY(-200px);
    position: absolute;
    top: 0;
    width: 100%;
    height: 160px;
    background-color: #f5f5f5;
    z-index: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.title-background.active {
    transition: all .5s .8s ease-in;
    transform: translateY(0);
}

.title {
    position: relative;
    text-align: center;
    padding: 50px;
    font-size: 60px;
    color: #323232;
    text-shadow: 0 0 5px #32323271;
    z-index: 1;
}

.container-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1500px;
    margin: auto;
    padding: 10px 0;
}

.link-img {
    text-align: center;
}

.link-img > img {
    position: relative;
    transition: all .3s ease-in-out;
    border: 3px solid transparent;
    border-radius: 30px;
    width: 89%;
}

.link-img > img:hover, .link-img > img:active {
    outline: 4px solid #985F99;
}

@media screen and (max-width: 1070px) {
    .container-links {
        flex-direction: column;
    }

    .link-img {
        margin: 10px;
    }
}